{% extends 'dashboard/base.html.twig' %}

{% block title %}Liste des attributs{% endblock %}

{% block body %}

<section class="bg-gray-100 mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg">
        <h1 class="text-center text-2xl font-bold py-10 text-indigo-600 sm:text-3xl">
            Liste des attributs
        </h1>
        <table class="min-w-full leading-normal drop-shadow-xl">
            <thead>
            <tr>
                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                    Title
                </th>
                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                    Date
                </th>
                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                    Country
                </th>
                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            {% for review in reviews %}
                <tr>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">
                            {{ review.title }}
                        </p>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">
                            {{ review.date }}
                        </p>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">
                            {{ review.country }}
                        </p>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">
                            action
                        </p>
                    </td>
{#                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">#}
{#                        <div class="flex item-center justify-center">#}
{#                            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">#}
{#                                <a href="{{ path('edit_category', {'id': category.id}) }}">#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">#}
{#                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />#}
{#                                    </svg>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">#}
{#                                {{ include('dashboard/category/_delete_form.html.twig') }}#}
{#                            </div>#}
{#                        </div>#}
{#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}