{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

<!-- component -->
<style>
    .text-xxs {
        font-size: 0.70rem;
        line-height: 0.90rem;
    }

    .rounded-xss {
        border-radius: 2px !important;
    }
</style>

{#        https://tailwindcomponents.com/component/product-card-like-themeforest #}

<!-- MDI Icons -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css" />

<div class="flex flex-wrap" id="tabs-id">
{#    <div class="w-6/12">#}
    <div class="w-full">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-gradient-to-r from-cyan-500 to-blue-500" onclick="changeAtiveTab(event,'tab-qualityprice')">
                    <i class="fa-solid fa-check-double fa-xl"></i>  Qualité/Prix
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-slate-600 bg-white" onclick="changeAtiveTab(event,'tab-bestseller')">
                    <i class="fa-solid fa-trophy fa-xl"></i>  Meilleure vente
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-slate-600 bg-white" onclick="changeAtiveTab(event,'tab-bestprice')">
                    <i class="fa-solid fa-hand-holding-dollar fa-2xl"></i>  Meilleur prix
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-slate-600 bg-white" onclick="changeAtiveTab(event,'tab-bestquality')">
                    <i class="fa-solid fa-check-to-slot fa-2xl"></i>  Meilleur qualité
                </a>
            </li>
        </ul>
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="px-4 py-5 flex-auto">
                <div class="tab-content tab-space">

                        <div class="block" id="tab-qualityprice">
                            {% for product in products %}
                            {% if product.rank.title is same as "Rapport qualité/prix" %}
                                {{ include('product/product_rank.html.twig', { 'product': product }) }}
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="hidden" id="tab-bestseller">
                            {% for product in products %}
                            {% if product.rank.title is same as "Meilleure vente" %}
{#                                {% for attribute in product.attributes %}#}
{#                                    {{ dump(attribute) }}#}
{#                                {% endfor %}#}
                                {{ include('product/product_rank.html.twig', { 'product': product }) }}
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="hidden" id="tab-bestprice">
                            {% for product in products %}
                            {% if product.rank.title is same as "Meilleur prix" %}
                                {{ include('product/product_rank.html.twig', { 'product': product }) }}
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="hidden" id="tab-bestquality">
                            {% for product in products %}
                            {% if product.rank.title is same as "Meilleure qualité" %}
                                {{ include('product/product_rank.html.twig', { 'product': product }) }}
                            {% endif %}
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeAtiveTab(event,tabID){
        let element = event.target;
        while(element.nodeName !== "A"){
            element = element.parentNode;
        }
        ulElement = element.parentNode.parentNode;
        aElements = ulElement.querySelectorAll("li > a");
        tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
        for(let i = 0 ; i < aElements.length; i++){
            aElements[i].classList.remove("text-white");
            aElements[i].classList.remove("bg-gradient-to-r");
            aElements[i].classList.remove("from-cyan-500");
            aElements[i].classList.remove("to-blue-500");
            aElements[i].classList.add("text-slate-600");
            aElements[i].classList.add("bg-white");
            tabContents[i].classList.add("hidden");
            tabContents[i].classList.remove("block");
        }
        element.classList.remove("text-slate-600");
        element.classList.remove("bg-white");
        element.classList.add("text-white");
        element.classList.add("bg-gradient-to-r");
        element.classList.add("from-cyan-500");
        element.classList.add("to-blue-500");
        document.getElementById(tabID).classList.remove("hidden");
        document.getElementById(tabID).classList.add("block");
    }
</script>


{% endblock %}
