<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 mb-20 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center drop-shadow-lg rounded" src="{{ product.image }}">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ product.brand }}</h2>
                <h3 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ product.title }}</h3>
                <div class="flex mb-4">
                      <span class="flex items-center">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                          <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                        </svg>
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                          <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                        </svg>
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                          <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                        </svg>
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                          <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                        </svg>
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                          <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                        </svg>
                        <span class="text-gray-600 ml-3">{{ product.rating }} - {{ product.reviewTotal}} commentaires </span>
                      </span>
                </div>
                <p class="leading-relaxed">{{ product.description }}</p>
                <div class="flex">
                    <span class="title-font font-medium text-2xl text-gray-900">{{ product.price }} €</span>
                    <button class="flex ml-auto text-white bg-gradient-to-r from-cyan-500 to-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-800 rounded">Acheter sur Amazon</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="container px-5 mx-auto">
                <div class="flex flex-col">
                    <div class="h-1 bg-gray-200 rounded overflow-hidden">
                        <div class="w-24 h-full bg-sky-500"></div>
                    </div>
                    <div class="flex flex-wrap sm:flex-row flex-col mb-20">
                        <h2 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">Caractéristiques</h2>
                        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">Ici vous trouverez toutes les caractéristiques de votre produit préféré</p>
                    </div>
                </div>
            </div>

            <div class="w-full -m-4">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="min-w-max w-full table-auto">
                        <tbody class="text-gray-600 text-sm font-light">
                        {% for attribute in product.attributes %}
                            {% if attribute.state == true %}
                                {#bg-gray-50#}
                                <tr class="hover:bg-gray-100">
                                    <td class="py-3 px-6 text-left">
                                        <div class="flex items-center">
                                            <span class="font-medium">{{ attribute.name}}</span>
                                        </div>
                                    </td>
                                    <td class="py-3 px-6 text-left">
                                        <div class="flex items-center">
                                            <span>{{ attribute.value}}</span>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">

            {% if product.reviews is not empty %}
                <div class="container px-5 py-24 mx-auto">
                    <div class="flex flex-col -m-4 mt-20">
                        <div class="h-1 bg-gray-200 rounded overflow-hidden">
                            <div class="w-24 h-full bg-sky-500"></div>
                        </div>
                        <div class="flex flex-wrap sm:flex-row flex-col py-20">
                            <h2 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">Avis</h2>
                            <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">Street art subway tile salvia four dollar toast bitters selfies quinoa yuccie synth meditation iPhone intelligentsia prism tofu. Viral gochujang bitters dreamcatcher.</p>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="flex flex-wrap -m-4 py-10">
                {% for review in product.reviews %}
                    {% if review.country == "fr" %}
                        <div class="p-4 md:w-1/2 w-full">
                            <div class="h-full bg-white drop-shadow-lg p-8 rounded">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                                    <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                                </svg>
                                <p class="leading-relaxed mb-6">{{ review.body|length > 250 ? review.body|slice(0, 250) ~ ' lire plus ...' : review.body }}</p>
                                <a class="inline-flex items-center">
                                    {% if review.profilePicture is null %}
                                        <img alt="testimonial" src="https://cdn-icons-png.flaticon.com/512/2960/2960006.png" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                                    {% else %}
                                        <img alt="testimonial" src="{{ review.profilePicture }}" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                                    {% endif %}
                                    <span class="flex-grow flex flex-col pl-4">
                                        <span class="title-font font-medium text-gray-900">{{ review.profileName }}</span>
                                        <span class="text-gray-500 text-sm">{{ review.date|date("d/m/Y") }}</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>