{% extends 'dashboard/base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}


    <section class="text-gray-600 body-font">
        <div class="container px-5 py-10 mx-auto">
            <div class="flex flex-col text-center w-full mb-10">
                <h2 class="sm:text-3xl text-2xl font-medium title-font text-blue-600">Les meilleures produits à votre porté</h2>
            </div>
            <div class="flex flex-wrap -m-4">

                {% for product in products %}
                    <div class="p-4 lg:w-1/4 w-full drop-shadow-lg">
                        <div class="flex rounded-lg h-full bg-white p-8 flex-col">

                            <div class="flex items-center justify-between">
                                <span class="text-sm font-light text-gray-800 dark:text-gray-400">{{ product.subcategory.title }}</span>
                                <span class="px-3 py-1 text-xs text-blue-800 uppercase bg-blue-200 rounded-full dark:bg-blue-300 dark:text-blue-900">{{ product.rank.title }}</span>
                            </div>

                            <div>
                                <h1 class="mt-2 text-lg font-semibold text-gray-800 dark:text-white">{{ product.title|length > 50 ? product.title|slice(0, 50) ~ '...' : product.title }}</h1>
                                <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">{{ product.description|length > 100 ? product.description|slice(0, 100) ~ '...' : product.description }}</p>
                            </div>

                            <div>
                                <div class="flex items-center mt-2 text-gray-700 dark:text-gray-200">
                                    <span>Prix : </span>
                                    <p class="mx-2 text-blue-600 cursor-pointer dark:text-blue-400 hover:underline" tabindex="0" role="link">{{ product.price }} €</p>
                                    <span> - Note : </span>
                                    <p class="mx-2 text-blue-600 cursor-pointer dark:text-blue-400 hover:underline" tabindex="0" role="link">{{ product.rating }}</p>
                                </div>

                                <div class="flex items-center justify-center mt-4">
                                    <div class="flex item-center justify-center">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <a href="{{ path('edit_product', {'id': product.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            {{ include('dashboard/product/_delete_form.html.twig') }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>




{#    <!-- component -->#}
{#    <div class="overflow-x-auto">#}
{#        <div class="bg-gray-100 bg-gray-100 font-sans overflow-hidden">#}
{#                        <div class="w-full lg:w-5/6">#}
{#            <div class="w-full">#}
{#                <div class="bg-white shadow-md rounded my-6">#}
{#                    <table class="min-w-max w-full table-auto">#}
{#                        <thead>#}
{#                        <tr class="bg-indigo-600 text-white uppercase text-sm leading-normal">#}
{#                            <th class="py-3 px-6 text-left">Titre</th>#}
{#                            <th class="py-3 px-6 text-left">Path</th>#}
{#                            <th class="py-3 px-6 text-left">Description</th>#}
{#                            <th class="py-3 px-6 text-left">Image</th>#}
{#                            <th class="py-3 px-6 text-left">Lien affilié</th>#}
{#                            <th class="py-3 px-6 text-left">Note</th>#}
{#                            <th class="py-3 px-6 text-left">Prix</th>#}
{#                            <th class="py-3 px-6 text-left">Asin</th>#}
{#                            <th class="py-3 px-6 text-left">Sous catégorie</th>#}
{#                            <th class="py-3 px-6 text-left">Rang</th>#}
{#                            <th class="py-3 px-6 text-left">Actions</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody class="text-gray-600 text-sm font-light">#}
{#                        {% for product in products %}#}

{#                            <tr class="border-b border-gray-200 hover:bg-gray-100">#}
{#                                <td class="py-3 px-6 text-left">#}
{#                                    <div class="flex items-center">#}
{#                                        <span>{{ product.title|length > 5 ? product.title|slice(0, 5) ~ '...' : product.title }}</span>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="py-3 px-6 text-center">#}
{#                                    <div class="flex items-center">#}
{#                                        <span>{{ product.pathProduct }}</span>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="py-3 px-6 text-center">#}
{#                                    <div class="flex items-center">#}
{#                                        <span>{{ product.description|length > 5 ? product.description|slice(0, 5) ~ '...' : product.description }}</span>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="py-3 px-6 text-center">#}
{#                                    <div class="flex items-center">#}
{#                                        <span>{{ product.image|length > 5 ? product.image|slice(0, 5) ~ '...' : product.image }}</span>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="py-3 px-6 text-center">#}
{#                                    <div class="flex items-center">#}
{#                                        <span>{{ product.alink|length > 5 ? product.alink|slice(0, 5) ~ '...' : product.alink }}</span>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="py-3 px-6 text-center">#}
{#                                    <div class="flex items-center">#}
{#                                        <span>{{ product.rating }}</span>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="py-3 px-6 text-center">#}
{#                                    <div class="flex items-center">#}
{#                                        <span>{{ product.price }}</span>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="py-3 px-6 text-center">#}
{#                                    <div class="flex items-center">#}
{#                                        <span>{{ product.asin }}</span>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="py-3 px-6 text-center">#}
{#                                    <div class="flex items-center">#}
{#                                        <span>{{ product.subcategory.title }}</span>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="py-3 px-6 text-center">#}
{#                                    <div class="flex items-center">#}
{#                                        <span>{{ product.rank.title }}</span>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="py-3 px-6 text-center">#}
{#                                    <div class="flex item-center justify-center">#}
{#                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">#}
{#                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">#}
{#                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />#}
{#                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />#}
{#                                            </svg>#}
{#                                        </div>#}
{#                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">#}
{#                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">#}
{#                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />#}
{#                                            </svg>#}
{#                                        </div>#}
{#                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">#}
{#                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">#}
{#                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />#}
{#                                            </svg>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </td>#}
{#                            </tr>#}

{#                        {% endfor %}#}

{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}